#status_unprotected{

	color: #f74b22;
	display: none;
}

.wpcf7-response-output{

	margin-bottom: 20px !important;
}

.divfile{

	display:table;
}

.spanfilename{

	display:table-cell;
	vertical-align:middle;
	color: #3f775b;
}

#loader-div{

	height: 15px;
}

.nerd-bar{

	opacity: 50%;
}
p.platform-desc{
	margin: 0;
	text-align: center;
	font-weight: 700;
}
.page-template-tpl_support .img-radio label {
	padding-bottom: 16px;
	position: relative;
}
.page-template-tpl_support .img-radio label:after{
	text-transform: capitalize;
	font-size: 11px;
	font-weight: 700;
	position: absolute;
	bottom: 0;
	left: 43%;
	transform: translateX(-50%);
}
.page-template-tpl_support .img-radio label:first-of-type:after{
	content: 'Windows';

}
.page-template-tpl_support .img-radio label:nth-of-type(2):after{
	content: 'iOS';
	text-transform: none;
}
.page-template-tpl_support .img-radio label:nth-of-type(3):after{
	content: 'Chrome';
}
.page-template-tpl_support .img-radio label:nth-of-type(4):after{
	content: 'Firefox';
}
@media screen and (max-width: 768px){
	.page-template-tpl_support .img-radio label{
		padding-bottom: 14px !important;
	}
	.page-template-tpl_support .img-radio label:after{
		left: 47.5%;
	}
}
@media screen and (max-width: 450px){
	.page-template-tpl_support .img-radio label:after{
		left: 43%;
	}
}
.h1_header{
 	font-size: 3.25em;
    font-weight: 800;
    padding-bottom: 1em;
}
@media screen and (max-width: 768px){
	.h1_header{
		text-align: center;
		font-size: 30px;
		width: 100%;
	}
}

.page-template-tpl_faq{
    background-color: transparent;
    padding-top: 8em;
}
.page-template-tpl_faq .page-container{
    width: 1320px;
    margin: 0 auto;
    background-color: transparent;
    color: black;
}
@media (max-width: 1600px) {
    .page-template-tpl_faq .page-container {
        width: 1240px;
    }
}
@media (max-width: 1439px) {
    .page-template-tpl_faq .page-container {
        width: 1200px;
    }
}
@media (max-width: 1279px) {
    .page-template-tpl_faq .page-container {
        width: 1080px;
    }
}
@media (max-width: 1100px) {
    .page-template-tpl_faq .page-container {
        width: 670px;
    }
}
@media (max-width: 768px) {
    .page-template-tpl_faq .page-container {
        width: 500px;
    }
}
@media (max-width: 530px) {
    .page-template-tpl_faq .page-container {
        width: 96vw;
    }
}

.page-template-tpl_faq section.breadcrumb .path {
    padding: 6px 2em;
    border-radius: 15px;
    margin: 1.5em 0;
}
.page-template-tpl_faq section.breadcrumb .path .item a {
    color: black;
}
@media (max-width: 768px) {
    .page-template-tpl_faq section.breadcrumb .path {
        padding: 6px 0.7em;
    }
    .page-template-tpl_faq section.breadcrumb .path .spacer {
        padding: 0 0.4em;
    }
    .page-template-tpl_faq section.breadcrumb .path .item a, .page-template-tpl_faq section.breadcrumb .path .item {
        font-size: 13px;
    }
}

.page-template-tpl_faq .page-container section.header {
    display: flex;
    margin-top: 75px;
    margin-bottom: 75px;
}
@media (max-width: 1200px) {
    .page-template-tpl_faq .page-container section.header {
        flex-direction: column;
        align-items: center;
    }
}
.page-template-tpl_faq .page-container section.header .col-text {
    flex-grow: 1;
}
@media (max-width: 1200px) {
    .page-template-tpl_faq .page-container section.header .col-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.page-template-tpl_faq .page-container section.header .col-text h1 {
    font-weight: 800;
    font-size: 50px;
    padding: 0;
    text-align: left;
    color: black;
}


.page-template-tpl_faq .page-container .steps{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
@media screen and (max-width: 768px){
    .page-template-tpl_faq .page-container .steps{
        margin: 30px 15px;
    }
}

.page-template-tpl_faq .page-container .step{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 45px;
    cursor: pointer;
}

@media screen and (max-width: 768px){
    .page-template-tpl_faq .page-container .step{
        margin-bottom: 15px;
        border-radius: 15px;
    }
}

.page-template-tpl_faq .page-container .step .step__top{
    width: 100%;
    position: relative;
}

.page-template-tpl_faq .page-container .step .step__top::after{
    content: '';
    background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAUCAYAAADoZO9yAAABQ0lEQVRIibWWTS5EURCFPxJrsAEjg07sQIyZGfhpjfYzMDEwMKDRWINBz0jswQoswgasQCKaPnLFjdZ599a79713kppVTn2pqlvvTUkCWACOgBlgADzTrBaBJeAFeASEpHlJr/rTm6S2A2woTiV9jNW7/2mGpIGKtdkAyEWg1so0MBsYwgPQrXFA/d8oUstRLgcovbo1dKIX8R9KmvOJ1wZMlZ25NLzX/Y74uI0kjyQdZECcGxCHPrfsMnntJEBcGV7/Rp7ayk9J2xXH8VX0IkNG1s5sRCBOUjphgVibHjK0dqITqldl2UYTxmeRXDfStVitOjZ/VdKxkbNr1anrGcZU6lORchNirS/S0BpHLgglbsO49lK8U0Fc9A0Adye2Un1zQFzc1NWJqiAuJq+ne877uX7+VzFXbaADvAN3wFOWEfANB76rfdex820AAAAASUVORK5CYII=");
    position: absolute;
    right: 20px;
    top: 32px;
    width: 34px;
    height: 20px;
}

@media screen and (max-width: 768px){
    .page-template-tpl_faq .page-container .step .step__top::after{
        display: none;
    }
}

.page-template-tpl_faq .page-container .step .step__title{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 40px;
    padding: 15px 65px 15px 25px;
    background-color: #0ce2b2;
}

@media screen and (max-width: 768px){
    .page-template-tpl_faq .page-container .step .step__title{
        padding: 15px;
    }
}

.page-template-tpl_faq .page-container .step .step__title *{
    font-size: 1.5em;
    font-weight: 700;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

@media screen and (max-width: 768px){
    .page-template-tpl_faq .page-container .step .step__title *{
        text-align: center;
    }
}

.page-template-tpl_faq .page-container .step img{
    max-width: 100%;
    height: auto;
}

.page-template-tpl_faq .page-container .step .step__exp{
    display: none;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 40px;
    margin-top: 15px;
    background-color: white;
}

.page-template-tpl_faq .page-container .step.exp .step__exp{
    display: block;
    padding: 15px 25px;
}

.page-template-tpl_faq .page-container .step.exp .step__top::after{
    transform: rotate(180deg);
}

.page-template-tpl_faq{
    background-image: url('assets/img/faq_bg.jpg');
    background-position: top;
    background-size: 100%;
    background-repeat: repeat-y;
}

@media screen and (max-width: 768px){
    .page-template-tpl_faq{
        background-image: none;
    }
}

.swiper-container{
    display: none!important;
}

body.interacted .swiper-container {
    display: block !important;
}

@media screen and (max-width: 1180px) {
    body.home {
        background: #ffc000!important;
    }
}

@media screen and (max-width: 768px){
    /*.home .fp-top .col{*/
    /*    background: none!important;*/
    /*}*/
    /*.home .fp-top .col h1{*/
    /*    color: black;*/
    /*}*/
    /*.home .fp-top .col p{*/
    /*    color: black;*/
    /*}*/
    /*.home section.fp-top .col{*/
    /*    height: auto!important;*/
    /*    padding: 2em 0 1em 0;*/
    /*}*/
}

